.container{
    display: flex;
    border: 5px solid #ffcc5c;
}

.container div{
    background-color: aqua;
    border: 1px solid white;
    padding: 25px;
    font-size: 50px;
    text-align: center;
    flex: 1;
}

.container .logout {
    flex-grow: 100; 
}

.container .home{
    flex-basis: 200px;
}

